<h1>Static page</h1>
<p>
  Pages can be created in Composable Storefront in a generic way. Composable Storefront lets you work with the router in a generic way.
</p>

<!-- Standard Angular router link -->
<h3>Standard router</h3>
<p>
  The standard angular router works as expected. You can use the anchor tag's routerLink tag attribute to link to any pages, for example: <a routerLink="/">home page</a>.
</p>

<!-- Custom static page link to a component page -->
<p><a routerLink="/demo/static/page">Static Page Link to CMS data</a>.</p>

<!-- Semantic link to the Cart Page -->
<h3>Semantic Links</h3>
<p>This section demonstrates Semantic Links in Composable Storefront. For example, a link to the <a [routerLink]="{ cxRoute: 'cart' } | cxUrl"> Cart Page</a>. Using the <i>cxUrl</i>, you can use a semantic link which is configurable and is controlled from within Composable Storefront.</p>